#navbar{
    display: flex;
    justify-content: space-around;
}

.hero{
    color: palevioletred;
    display: flex;
}

#hero{
    display: flex;
}



#icons{
    display: flex;
    justify-content: space-between;
    
}

.button1{
    border-radius: 98px;
    border-color: rgb(219, 17, 84);
    color: palevioletred;
}
.button2{
    border-radius: 25px;
    background-color: rgb(224, 73, 123);
    color: white;
}

.home{
    color: palevioletred;
}

.Superhero{
    color: palevioletred;
}

.cont2{
    color: rgb(13, 13, 121);
    font-size: x-large;
    font-weight: 1000;
    padding: 24px, 24px;
}

.skills{
    color: rgb(144, 144, 190);
    font-size: larger;
    font-weight: 400;
    padding-top: 24px;
}



#subscribe{
    display: flex;
    color: rgb(180, 180, 196);
}

.money{
    display: flex;
    color: rgb(185, 185, 228);
}

#monthly{
    display: flex;
}

#container1{
    display: flex;
    justify-items: flex-end;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}


.input-wrapper{
    position: relative;
    display: inline-block;
}

.input-wrapper input{
    padding: 20px;
    border-radius: 20px;
    color: rgb(192, 192, 206);
}

.input-wrapper button{
    position: absolute;
    top: 0%;
    right: 0;
    border: none;
    background-color: transparent;
    transform: translate(65%, 20%);
    background-color:rgb(216, 21, 86);
    color: white;
    padding:12px 12px;
    border-radius: 30px;
    margin-left: 30%;
}




