#navbar {
  display: flex;
  justify-content: space-around;
}

#menu-toggle {
  display: none;
}

.hamburger-menu {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: rgb(51, 51, 51);
  margin: 4px, 0;
}

#menu-toggle:checked ~ .nav.links {
  display: block;
  display: none;
}

.hero {
  color: palevioletred;
  display: flex;
}

#hero {
  display: flex;
}

#footer {
  display: flex;
  justify-content: space-between;
}

.button1 {
  border-radius: 98px;
  border-color: rgb(219, 17, 84);
  color: palevioletred;
}
.button2 {
  border-radius: 25px;
  background-color: rgb(224, 73, 123);
  color: white;
}

.home {
  color: palevioletred;
}

.Superhero {
  color: palevioletred;
}

.cont2 {
  color: rgb(13, 13, 121);
  font-size: 80px;
  font-weight: 10px;
  padding: 24px, 24px;
}

.skills {
  color: rgb(144, 144, 190);
  font-size: larger;
  font-weight: 400;
  padding-top: 24px;
  font-size: xx-large;
  font-weight: 400px;
}

#subscribe {
  display: flex;
  color: rgb(180, 180, 196);
}

.money {
  display: flex;
  color: rgb(185, 185, 228);
}

.skillninja {
  width: 800px;
  height: 700px;
}

.check {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-size: 50px;
  
}

#landingpage {
  display: flex;
  justify-items: flex-end;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

.input-wrapper {
  /* position: relative;
    display: inline-block; */
  display: flex;
  flex-direction: row;
}
.explore-button button {
  background-color: rgb(197, 72, 114);
  border-radius: 20px;
  position: absolute;
  border: 3px solid rgb(185, 42, 90);
  color: rgb(225, 232, 238);
  margin-left: 5%;
  width: 10%;
  height: 4%;
}
.placeholder input {
  width: 170%;
  height: 160%;
  position: relative;
  border-radius: 20px;
}


@media screen and (min-width: 280px) and (max-width: 320px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
  }

  .hero {
    color: palevioletred;
    display: flex;
  }

  #hero {
    display: flex;
  }

  #icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #container1 {
    display: flex;
    flex-wrap: wrap;
  }

  .skillninja img {
    width: 200px;
    height: 150px;
    flex-wrap: wrap;
  }
  .cont2 {
    color: rgb(13, 13, 121);
    font-size: 20px;
    padding: 24px, 24px;
  }
}
